@CHARSET "UTF-8";

pre {
	white-space: pre-wrap; /* CSS 3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	width:7.67in;
}



textarea {
	width: 100%;
	height: 100%;
	overflow-y: visible;
}

#sp1 {
	min-height: 100px;
	margin-top: 100px;
}

#sp2 {
	text-align: center;
	font-size: small;
	font: italic;
	color: gainsboro;
}

p {
	text-align: center;
}

table * {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

input.clickable {
	/*width:100%;
	 height:50px;*/

	font-size: large;
}

.wrapInput {
	width: 100%;
	height: 100%;
	display: table-cell;
}

.scrollingbox {
	position: fixed;
	right: 0px ;
	top: 100px;
	width: 183px;
}

#boxtitle {
	text-align: center;
	font-size: 25px;
	background-color: rgb(219, 213, 235);
	margin-bottom: 2px;
}

#boxcontent {
	background-color: rgb(241, 241, 242);
	text-align: center;
}

#contentTableWrapper {
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}

.wrapText {
	text-align: left;
}

table, th, td {
	border: 1px solid black;
}

.noborder {
	border: none;
}

.noborder * td {
	border: none;
}

.toolbut {
	margin-bottom: 2px;
}

.toolbut:hover {
	cursor: pointer;
	background-color: grey;
}

.datable[type=text] {
	width: 50px;
}

.draggableTag{
	background: url("images/draggable.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	float:left;
	top:-49px;
	left:-10px;
	position:relative;
}